body {
    background-color: #39197d;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("../images/background-00.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    color: #ffffff;
    font-size: 4rem;
}

p {
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 200;
}

.avatar{
    border: 5px solid #20DF7F;
    border-radius: 100px;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.contenedorAvatar{
    width: 150px;
    height: 150px;
}

#selectedAvatar{
    background-image: url("../images/avatar-02.png");
    background-size: cover;
}

#avatar01{
    background-image: url("../images/avatar-01.png");
    background-size: cover;
}

#avatar02{
    background-image: url("../images/avatar-02.png");
    background-size: cover;
}

#avatar03{
    background-image: url("../images/avatar-03.png");
    background-size: cover;
}

#avatar04{
    background-image: url("../images/avatar-04.png");
    background-size: cover;
}

.btn-avatar {
    border: none;
    border-radius: 5px;
    background-color: #20DF7F;
    color:#ffffff;
    padding: .5rem;
}

.btn-sala {
    display: none;
    border: none;
    border-radius: 5px;
    background-color: #20DF7F;
    color:#ffffff;
    padding: .5rem;
    margin-top: 10px;
}

#btn-sala01 {
    visibility: visible;
}
#btn-sala02 {
    visibility: visible;
}
#btn-sala03 {
    visibility: visible;
}
#btn-sala04 {
    visibility: visible;
}


.card {
    height: 300px;
    width: 300px;
    border: 5px solid #20DF7F;
    border-radius: 10px;


}

.sala01 {
    background-image: url("../images/sala-01.png");
    background-size: cover;
}

.sala02 {
    background-image: url("../images/sala-02.png");
    background-size: cover;
}

.sala03 {
    background-image: url("../images/sala-03.png");
    background-size: cover;
}

.sala04 {
    background-image: url("../images/sala-04.png");
    background-size: cover;
}

.modal-header{
    border-bottom: none;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 2rem;
}
.modal-h1 {
    color: #39197D;
    font-size: 4rem;
}

.modal-p {
    color: #39197D;
    font-size: 1.5rem;
    font-weight: 200;
}

.modal .avatar {
    border: 5px solid #39197D;
}


