h1 {
    color: #ffffff;
    font-size: 4rem;
}

h3 {
    color: #ffffff;
    font-size: 18px;
}

p {
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 200;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

#tablero_canvas {
    border: 2px solid #000000;  /* Comentamos la propiedad ya que solo queremos el borde para visualizarlo mientras se edita */
    margin: 20px;
}
